# SPDX-FileCopyrightText: 2023 Iván Szkiba
# SPDX-FileCopyrightText: 2023 Raintank, Inc. dba Grafana Labs
#
# SPDX-License-Identifier: AGPL-3.0-only
# SPDX-License-Identifier: MIT

/k6
/k6.exe
/k6-web-dashboard
/k6-web-dashboard.exe
/build
/.bin
/.hintrc