/*
 * SPDX-FileCopyrightText: 2023 Iván Szkiba
 * SPDX-FileCopyrightText: 2023 Raintank, Inc. dba Grafana Labs
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 * SPDX-License-Identifier: MIT
 */

.chart {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.u-title,
.u-label {
  font-weight: 300 !important;
}

.uplot {
  break-inside: avoid;
}

@media screen {
  .u-title {
    font-weight: 400 !important;
  }
}
