@import url("normalize.min.css");
@import url("pure-min.css");
@import url("uPlot.min.css");


body {
    background: #f0f0f0;
}

div.card {
    border: 1px solid #c0c0c0;
    margin: 10px;
    background-color: white;
}

nav {
    text-align: center;
    font-size: larger;
    font-weight: 500;
    padding: 0.5rem;
    background-color: #7b65fa;
    color: white;
    position: fixed;
}

#charts {
    margin-top: 2rem;
}