/*
 * SPDX-FileCopyrightText: 2023 Raintank, Inc. dba Grafana Labs
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.stat .u-title {
  font-size: 1.5rem;
  font-weight: 500 !important;
  white-space: nowrap;
}

.stat .MuiCardContent-root {
  padding: 5px;
  padding-bottom: 5px !important;
}
