@import "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css";
@import "https://cdn.jsdelivr.net/npm/uplot@1.6.12/dist/uPlot.min.css";

nav .brand-logo {
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  line-height: 40px;
}

nav {
  background: #7b65fa;
  height: 40px;
}

body {
  background: #f0f0f0;
}

.navbar-fixed {
  height: 45px;
}
