name: Release

permissions: {}

on:
  push:
    tags: ["v*.*.*"]

jobs:
  release:
    name: Release
    uses: grafana/xk6/.github/workflows/extension-release.yml@85233afdbdbff43ba927d474f1404edca0efd562 # v1.2.6
    permissions:
      contents: write
    with:
      go-version: "1.24.x"
      os: '["linux", "windows", "darwin"]'
      arch: '["amd64", "arm64"]'
      k6-version: "v1.4.0"
      xk6-version: "1.2.6"
