name: Release

permissions: {}

on:
  push:
    tags: ["v*.*.*"]

jobs:
  release:
    name: Release
    uses: grafana/xk6/.github/workflows/extension-release.yml@7275fd9bc5ecd78ab35559c2bf231d983906520b # v1.3.3
    permissions:
      contents: write
    with:
      go-version: "1.25.x"
      os: '["linux", "windows", "darwin"]'
      arch: '["amd64", "arm64"]'
      k6-version: "v1.4.0"
      xk6-version: "1.2.6"
